@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    background-image: url('/assets/background_png.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.2), 0 6.7px 5.3px rgba(0, 0, 0, 0.048);
    
}

.center-div{
    padding-top: 10%;
}

.btn.btn-success{
    padding: .4em 2em;
}

form{
    padding: 0 3em;
    
}

#login .title > span{
    font-size: .8em;
}